RewriteEngine On
RewriteBase /localsite/

# Redirect root access to pages/index.html
RewriteRule ^$ pages/index.html [L]

# Rewrite rule to access .html files in the /pages directory without the extension
RewriteRule ^([a-zA-Z0-9_-]+)$ pages/$1.html [L]

# Directory Index Rule to prioritize index.html in /pages
DirectoryIndex index.html pages/index.html
